/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-jun-2017, 15:49:27
    Author     : Juan Gimenez
*/

body{
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
    
p{
    background-color: blue;
    border: 1px solid #faa;
    color: #fff;
}